<div class="message-container">
  <img src="/images/vega.gif" width="100px" class="custom-avatar" />
  <p class="username"><%= message.user.username.capitalize %>:</p>
  <p><%= message.body %></p>
</div>
