<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: 'item' %>
    <a class="item"> Messages </a>
    <div class="right menu">
      <div class="item">
        <div class="ui buttons">
          <%= link_to signup_path do %>
            <button class="ui inverted orange button">Sign up</button>
          <% end %>

          <div class="or"></div>
          <%= link_to login_path do %>
            <button class="ui orange button">Log in</button>
          <% end %>
        </div>
      </div>
      <div class="item">
        <div class="ui inverted red button">Log out</div>
      </div>
    </div>
  </div>
</div>
