<section>
  <h2 class="ui center aligned icon header">
    <i class="circular orange comments outline icon"></i>
    Let's Chat...
  </h2>

  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card">
        <div class="content">
          <div id="chatBox" class="ui feed chat-box">
            <%= render @messages %>
          </div>
        </div>
        <div class="extra content">
          <%= form_for(@message, html: { class: "ui reply form", role: "form" } , url: message_path) do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%=
                  f.text_field :body, placeholder: 'Enter a message...', required: true, class: 'ui fluid icon input'
                %>
                <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui vertical inverted menu">
        <a class="active item"> Home </a>
        <a class="item"> Messages </a>
        <a class="item"> Friends </a>
      </div>
    </div>
  </div>

  <script>
    // Get the container element
    var container = document.getElementById("chatBox")

    // Scroll to the bottom
    container.scrollTop = container.scrollHeight
  </script>
</section>
