/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

section {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

.margin-y-20 {
  margin: 20px 0;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.username-chat {
  font-size: 16px;
  font-style: italic;
  color: black;
  margin-bottom: 0;
}

.custom-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: #f2711c solid 2px;
}

.title {
  font-size: 20px;
}

.user-container {
  display: flex;
  align-items: center;
}

.username {
  color: #ffffff;
}
